/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 7pt;
}

canvas {
  display: block;
}

video{
  visibility:hidden;
  position: absolute;
  top: 0;
  left: 0;  
}